<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/it/CHI/Projects/golf_autotests/src/test/java/golftests/ui/uitests">
        <classes>
            <class name="golftests.ui.uitests.admin.stocks.Stocks"/>
            <class name="golftests.ui.uitests.auth.RecoveryPassword"/>
            <class name="golftests.ui.uitests.auth.ChangePassword"/>
            <class name="golftests.ui.uitests.auth.Login"/>
            <class name="golftests.ui.uitests.auth.Registration"/>
        </classes>
    </test>
</suite>